<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>Categoria Create</title>
  </head>
  <body>
    <div class="container">
      <div class="mt-4">
        <form>
          <div class="mb-3 row"><h1>
            <label class="col-sm-2 col-form-label"
              >Categoria</label></h1>
              <form action="/my-handling-form-page" method="post">
 
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Categoria</label>
  <input type="cotegoria" class="form-control" id="exampleFormControlInput1" placeholder="Categoria">
</div>
  
</form>
              <p>
              <div class="d-grid gap-2 d-md-block" >
               
              
              <button type="submit" class="btn btn-primary">Agregar</button>
              <div class="modal" tabindex="-1">
              </div>

              
  <p><table class="table table-striped">
    <tr>
    <th scope="col">id</th>
      <th scope="col">Categoria</th>
      <th scope="col">Editar</th>
      <th scope="col">Borrar</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">1</th>
      <th scope="row"method="post"></th>
      <td><div class="d-grid gap-2 d-md-block">
              <button type="button" class="btn btn-primary">Editar</button>
              </div></td>
      <td><div class="d-grid gap-2 d-md-block">
              <button type="reset" class="btn btn-primary">Borrar</button>
              
              </div></td>
    </tr>
  </tbody>
</table>
<div class="d-grid gap-2 d-md-block"><!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Guardar
</button>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Guardar Categoria 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
        <button type="button" class="btn btn-primary">guardar</button>
      </div>
    </div>
  </div>
</div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>