<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>MKFullSale</title>
   <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/css/producto.css"
      rel="stylesheet"
    />
</head>
  <body>
<br><div id="titulo"><h4><strong>&nbsp;&nbsp;Marketplace MK FULL SALE</strong></h3>
   </div> 
   <div id="header">
			<ul class="nav">
				<li><a href="">Inicio</a></li>
				<li><a href="">Servicios</a>
					<ul>
						<li><a href="">Submenu1</a></li>
						<li><a href="">Submenu2</a></li>
						<li><a href="">Submenu3</a></li>
						<li><a href="">Submenu4</a>
							<ul>
								<li><a href="">Submenu1</a></li>
								<li><a href="">Submenu2</a></li>
								<li><a href="">Submenu3</a></li>
								<li><a href="">Submenu4</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="">Acerca de</a>
					<ul>
						<li><a href="">Submenu1</a></li>
						<li><a href="">Submenu2</a></li>
						<li><a href="">Submenu3</a></li>
						<li><a href="">Submenu4</a></li>
					</ul>
				</li>
				<li><a href="">Contacto</a></li>
			</ul>
		</div>
<center><div class="signupFrm">
    <form action="" class="form">
      <h1 class="title"><strong>Registro de producto</strong></h1>
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Nombre del producto</label>
      </div>
<br>
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Precio</label>
      </div>
<br>
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Categoría</label>
      </div>
<br>
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Marca</label>
     </div>
    <div class="inputContainer">
      <input type="submit" class="submitBtn" value="Registrar">
      </div>
    </form>
  </div>
  </body>
</html>