<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>MKFullSale</title>
   <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/css/producto.css"
      rel="stylesheet"
    />
</head>
  <body>
  <div class="pepita"><h3><strong>MkFullSale (Marketplace)</strong></h3></div>
  <br>
  <br>
  <br>
<center><div class="signupFrm">
    <form action="" class="form">
      <h1 class="title">Registro de producto</h1>
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Nombre</label>
      </div>
<br>
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Precio</label>
      </div>
<br>
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Categoria</label>
      </div>
<br>
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Marca</label>
      </div>
<br>
      <input type="submit" class="submitBtn" value="Registrar">
    </form>
  </div></center>
  </body>
</html>